{% extends "main.html" %}
{% load i18n %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h2>{% trans 'Error' %}</h2>
	</div>
{% endblock header %}

{% block content %}
<div class='block'>
    <h3> 404 Error. </h3>
    <div>
    	File not found error.  The technical team is trying to find the missing file causing the 404. Do the math: 404/2 = 201 - 1 = 200.
    </div>
</div>
{% endblock content %}