{% load i18n %}<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Calenvy Personal Assistant - Calenvy is a Personal Assistant for scheduling meetings.">
    <meta name="author" content="Alexander Schliker, Team Calenvy, etc.">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Personal Assistant for scheduling meetings." />
    <meta property="og:description" content="Calenvy Personal Assistant is a scheduling assistant that schedules meetings just like a real person would." />
    <meta property="og:url" content="https://calenvy.com" />
    <meta property="og:site_name" content="Calenvy Personal Assistant" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Meet Calenvy, the personal assistant that schedules meetings for you just like a real person would." />
    <meta name="twitter:title" content="Calenvy Personal Assistant - a personal assistant that schedules meetings for you, just like a real person would." />

    <title>Calenvy Personal Assistant - Schedule meetings using AI just like a real person would.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">
    <script src="/static/js/lib/jquery-1.4.2.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/js/lib/cufon.js"></script>
    <script type="text/javascript" src="/static/js/lib/mp_400_700.font.js"></script>

    <script type="text/javascript" src="/dash/main_javascript.js?agent={{agent}}"></script>

    <script>
        <!-- Auto registration! -->
        $(document).ready(function() {
            var email = 'temp_' + (Math.random() * 70000).toString() + '@calenvy.com';
        	var team_url = 'temp_' + (Math.random() * 70000).toString();
        	var service_name = 'Free';
        	var alias_email = "{{alias.email}}";
        	if (alias_email == "{{alias.email}}") {
        	    if (window.location.href.indexOf("/logout") > -1 || window.location.href.indexOf("/dash") > -1 || window.location.href.indexOf("/install") > -1 || window.location.href.indexOf("/blog") > -1 || window.location.href.indexOf("/register") > -1 || window.location.href.indexOf("/success") > -1 || window.location.href.indexOf("/contact") > -1 || window.location.href.indexOf("/download") > -1) {
                    //slow down registration on these pages
                    $('#loading_bar').show().html("<center>We are preparing your registration (in 18 seconds):<br/>Completely <b>Free</b>! Please wait...<br/><br/><img src='/static/images/ajax-loader.gif'/><br/><br/>While waiting, please continue enjoying<br/> our website content as you learn more about<br/> our amazing <b>Open Source</b> offerings!</center>");
                    var timer = setTimeout(function(){
                           Ajax.send_data('send_registration/', {
                            email: email,
                            service_name: service_name
                        }, function(data) {
                            if (data.return_data.success) {
                                if (data.return_data.redirect_url) {
                                    window.location = '/dashboard/';
                                    //alert(data.return_data.redirect_url);
                                } else {
                                	//Page.next();
                                	alert(data.return_data.msg);
                                	window.location = '/dashboard/';
                                	//window.location.reload(); //https://stackoverflow.com/questions/3715047/how-to-reload-a-page-using-javascript
                                }
                            } else {
                                alert(data.return_data.msg);
                                $('#signup_submit').removeAttr('disabled');
                            }
                        }, "POST");

                    }, 18000);

        	    } else {
                    Ajax.send_data('send_registration/', {
                        email: email,
                        service_name: service_name
                    }, function(data) {
                        if (data.return_data.success) {
                            if (data.return_data.redirect_url) {
                                window.location = '/dashboard/';
                            } else {
                            	//Page.next();
                            	alert(data.return_data.msg);
                            	window.location = '/dashboard/';
                            	//window.location.reload(); //https://stackoverflow.com/questions/3715047/how-to-reload-a-page-using-javascript
                            }
                        } else {
                            alert(data.return_data.msg);
                            $('#signup_submit').removeAttr('disabled');
                        }
                    }, "POST");
                }

        	} else {

        	}
        });
    </script>

    {% block style %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
  </head>

  <body id="page-top">
    {% include 'csrf_token.html' %}
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
          {% comment %}
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        </li>
          {% endcomment %}
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>

        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/@/register/Free">Register</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/login">Login</a>
        </li>
        {% comment %}
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
          {% endcomment %}
      </ul>
    </nav>

    {% block header %}
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
          {% comment %}
            <img style='float:right; padding-left:10px;' src='/static/screenshots/cover.png'>
          {% endcomment %}
            <h2 class="mb-4" styl='position:relative; top:15px;'>Completely free!</h2>
            <h1 class="" style='font-size:2.9em!important;'>Personal Assistant for scheduling</h1>
            <p style='margin-top: 12px;'>
                Calenvy is a Personal Assistant for meeting scheduling.  Calenvy Personal Assistant will schedule all of your meetings just like a real person.  You can even give your assistant a real name for scheduling.
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/@/register/Free/">Register</a>
            <a class="btn btn-secondary btn-xl js-scroll-trigger" href="/login/">Login</a>

      </div>
      <div class="overlay"></div>
    </header>
    {% endblock %}

    {% block lower %}

    {% comment %}
    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div style='max-width:99%!important;' class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            {% block content %}
                <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
                  <a href="https://unsplash.com/">Unsplash</a>!</p>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
            {% endblock %}
          </div>
        </div>
      </div>
    </section>
    {% endcomment %}

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">

        {% block content-heading %}
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">How it works</h3>
          <h2 class="mb-5">Natural Language Scheduling Assistant made easy</h2>
        </div>
        {% endblock %}

        <div class="row">
        {% block content %}
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Email integration</strong>
            </h4>
            <p class="text-faded mb-0">Use natural language to schedule meetings with an AI assistant.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-pencil"></i>
            </span>
            <h4>
              <strong>Natural Language Scheduling</strong>
            </h4>
            <p class="text-faded mb-0">Add events to your calendar by emailing your personal assistant anything like "meeting tomorrow @ noon ".</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-like"></i>
            </span>
            <h4>
              <strong>Messaging</strong>
            </h4>
            <p class="text-faded mb-0">Send messages to people you care about and even schedule event with them using natural language and AI.
              </p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Mobile</strong>
            </h4>
            <p class="text-faded mb-0">Scheduler is available by email or by mobile device!</p>
          </div>
        {% endblock %}
        </div>
      </div>
    </section>

    <!-- Callout -->
    <section class="callout">
      <div class="container text-center">
        <h2 class="mx-auto mb-5">Welcome to
          <em>the future</em>
          of online scheduling.</h2>
        <a class="btn btn-primary btn-xl" href="/@/register/Free">Completely free!</a>
      </div>
    </section>

    {% comment %}
    <!-- Portfolio -->
    <section class="content-section" id="portfolio">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Portfolio</h3>
          <h2 class="mb-5">Recent Projects</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Stationary</h2>
                  <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Ice Cream</h2>
                  <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Strawberries</h2>
                  <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="#">
              <span class="caption">
                <span class="caption-content">
                  <h2>Workspace</h2>
                  <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
      </div>
    </section>

    <!-- Map -->
    <section id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=""></iframe>
      <br/>
      <small>
        <a href="#"></a>
      </small>
    </section>
    {% endcomment %}

    {% endblock lower %}

    {% comment %}{% endcomment %}
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        {% comment %}
        <ul class="list-inline mb-5">
          <!--
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li> -->
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/calenvy">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://github.com/calenvy/">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>
        {% endcomment %}
        <p class="text-muted small mb-0">
            <b>{{site.name}}</b> is completely free :) <br/> Made with happiness and abundant goodness.  This website is <b>completely free and not for sale</b>!
            <br/>{% trans "Download our" %} <a href='/static/Calenvy.com_1_1.0.apk' target='_blank'>{% trans "Android app" %}</a>.

            {% include "main_outer_footer_extended.html" %}

            <br/>Sponsored by:

            {% include "main_outer_footer_sponsors.html" %}

        </p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/stylish-portfolio.min.js"></script>
    <div align='center' id="loading_bar" class='loading_bar rounded_lower rounded_upper' style="z-index:1000009;display:none; font-weight: bold; border: 2px solid #F4E9DF; border-top: 0px; position:fixed; bottom:0px; right: 0px; min-width: 249px; color:; padding: 10px; background:#eee; background-repeat: repeat-x;">
        Please wait...
    </div>

  </body>

</html>
