{% extends 'main.html' %}
{% load i18n %}
{% block title %}
	{{site.name}} {% trans 'is a dead-simple, automated scheduling assistant - just Cc or Bcc your scheduling assistant, and your calendar is managed automatically.' %}
{% endblock %}
{% block description %}Automated personal scheduling assistant for college kids!  Email assistant that does your scheduling dirty work - remind those lazy classmates to make meeting about project, arrive at parties, etc.{% endblock %}
{% block style %}

{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div style='background:#fff; height: auto;' class='rounded_upper outer_content'>
	
	<div class='' style='position: relative; padding-top: 10px;'><!--background-image: url(/static/images/iphone.gif); background-position: bottom right; background-repeat: no-repeat;-->
	    
	    
		<div class='cover_tabs' style='overflow: hidden; width: 748px; position: relative;'>
			
			
			<div class='cover_tabs_move' style='width: 9000px; position: relative;'><!-- width: 2250px -->

				<div class='cover_tab cover_tab_calendar' style='float: left; width: 750px; position: relative;'>
					<a href='/info/features/assistant/'>
						<img title='{% trans "Get a personal assistant to remind leads of meetings or events - Email assistant for quick and easy scheduling." %}' border='0' src='/static/images/cover/images/header_college_ad.gif'/>
					</a>
				</div>
				
			</div>
			
			<div style='clear:both;'></div>
			
		</div>
		
		<div id='sales_blue_icons'>
			
			<div style='float:left; '>
				<a href='http://{{site.domain}}/info/pay/collegefree/'>
					<img border='0' src='/static/images/cover/images/signup_button_free.gif' style='float:left; cursor: pointer;'/>
				</a>
			</div>
			
			
			<div style='float:left; '>
				<a class="" title="{{site.name}} {% trans 'featured in the press - Best email CAL system - Want to Manage Twitter in Your CAL System' %}" href='/info/press/'>
					<img title="{{site.name}} {% trans 'featured in the press - Best email CAL system - Want to Manage Twitter in Your CAL System' %}" border='0' src='/static/images/cover/images/press.gif'/>
				</a>
			</div>
			
			
			
		</div>
		
		
		
		<div style='clear:left; height: 40px;'></div>
		    
	    
	    
	
	</div>
	

	<div class='cover_nav'>
		
		<div class='' style='width: 748px; opacity: .5; background: url(/static/images/cover/images/sunset_bg.jpg) no-repeat; height: 95px;'>
		
		</div>
		
		{% comment %}
			<div class='cover_shadow' style=' width: 748px; height: 20px; background: url(/static/images/cover/images/mid_shadow_bg.gif) repeat-x'>
				<!-- sunset_shadow -->
			</div>
		{% endcomment %}
		
	</div>
	
	<div style='clear:both;'></div>

</div>

{% endblock content %}

{% block outer_footer_extended %}
<div style='padding: 15px; text-align:left; color: #666;'>
	<span style="font-size: 1.5em; color: rgb(85, 85, 85);">{% trans 'Why is this free for college students?' %}</span>
	<div style='font-size: .9em; '>
		{% trans 'We know how busy you are.  When our team was in college, we would have been far more productive with an assistant to remind us about meetings, parties, and projects.' %}
	</div>
</div>    			    
{% endblock %}
