{% extends 'main.html' %}
{% load i18n %}

{%block global_style%}width: 800px; text-align:left;{%endblock%}
{% block header_style %}width: 800px; padding-top: 10px;{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block javascript %}
<script language="javascript">
	$(document).ready(function() {
		window.opener.location.href = window.opener.location.href;
		window.close();
	});
</script>

{% endblock %}
{% block header %}

{% endblock %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block content %}
	{% trans 'Please wait...' %}
{% endblock %}
