{% extends 'main.html' %}
{% load i18n %}

{%block global_style%}width: 800px; text-align:left;{%endblock%}
{% block header_style %}width: 800px; padding-top: 10px;{% endblock %}

{% block style %}

<style>
.block {
	background-color: ;
}

.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 183px; 
	height: 227px; 
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}
	
.order_box hr {
	height: 1px; 
	background: #ccc; 
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat; 
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}
.signup_block {
	padding-bottom: 20px;

}

h3 {
	color: #666;
}

h1 {
	font-weight: bold;
}

</style>

{% endblock %}

{% block javascript %} 

<script type="text/javascript">
Cufon.replace('h1, h3');
</script>

<script language="javascript">
	$(document).ready(function() {
		// loaded on window.ready
		$('#signup_promo').val('').blur(Page.check_promo);
		$('#signup_agree').change(function(e) {
			Page.agreed_terms = $(this).attr('checked') ? 1 : 0;
			Page.update_submit_button();
		});

		$('#signup_agree').click(function(e) {
			Page.agreed_terms = $(this).attr('checked') ? 1 : 0;
			Page.update_submit_button();
		});
	});
	var Page = this.Page = {

		service: "{{service.name}}",
		promo: "{{promo.name|default_if_none:''}}",
		alias_slug: "{{alias.slug}}",
		// Enable the submit button if we have everything we need
		agreed_terms:	0,
			// Put more flags here, when all of them are true then we can enable the button
		update_submit_button: function() {
			if (Page.agreed_terms) {
				//$("#signup_submit").removeAttr("disabled");
			} else {
				//$("#signup_submit").attr("disabled","disabled");
			}
		},
		check_promo: function() {
			var promo = $('#signup_promo').val();
			var service = Page.service;
			$('#signup_agree').removeAttr('checked');
			Page.agreed_terms = 0;
			Page.update_terms(service, promo);
		},
		popup: function(URL) {
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=0,width=700,height=300,left = 370,top = 300');");
		},
		
		update_terms: function(service, promo) {
			$('#signup_promo_error').text('');
			$('#signup_promo').css({border: '2px solid #ccc'});
			if (promo != '')
			    Ajax.send_data('get_service_terms/', {
			        service: service,
			        promo: promo
			    }, function(data) {
	                if (data.return_data.success) {
		                Page.promo = promo;
		                var team_url = ($('#signup_team_url').attr('name')) ? $('#signup_team_url').val() : '';
		                if (data.return_data.redirect) {
			                window.location='?promo=' + escape(data.return_data.promo_name) +
			                	'&email=' + escape($('#signup_email').val()) +
			                	'&team_url=' + escape(team_url);
		                } else {
		                    $('#signup_service_terms').html(data.return_data.terms);
		                    $('#signup_promo').css({border: '2px solid green'});
		                    if (data.return_data.payment_required) {
			                    $('#signup_submit').attr('value', 'Complete payment');
		                    } else {
			                    $('#signup_submit').attr('value', 'Create account');
		                    }
		                }
	                } else {
		                Page.promo = '';
	                    $('#signup_promo_error').text(data.return_data.msg);
	                    $('#signup_promo').css({border: '2px solid red'});
	                    // window.location='?';
	                }
	            }, "GET");
		},

		submit_form: function() {
			/*
			 * Called when the user presses the submit button
			 */
				
			if (Page.agreed_terms == 0) {
				alert("{% trans 'Please agree to the terms of service.' %}");
				return;
			}
			
			$('#signup_submit').attr('disabled', 'disabled');

			Ajax.send_data('select_service/', {
			    service: Page.service,
			    promo: Page.promo
		    }, function(data) {
		    	if (Page.alias_slug != '') {
					// User is logged in, send them to the billing page
					Page.next(data);
		    	} else {
			    	// User is not logged in or registered yet, register them first before proceeding
			    	Page.send_registration(data);
		    	}
		    }, "GET");
		},
		
		send_registration: function(next_data) {
			/*
			 * For new (non-logged-in) users, register the user.
			 * This may join the user to an existing account.
			 */
		    var email = $('#signup_email').val();
			var team_url = ($('#signup_team_url').attr('name')) ? $('#signup_team_url').val() : '';
			var service_name = '{{service.name}}';

		    Ajax.send_data('send_registration/', {
		        email: email,
		        team_url: team_url,
		        service_name: service_name,
		        promo: Page.promo
		    }, function(data) {
                if (data.return_data.success) {
                	{% comment %} If we're joining an existing account, we're not logged in automatically --
					just go to the payment complete page where we tell user to check their email {% endcomment %}
					                	
                    if (data.return_data.redirect_url) {
                        window.location = data.return_data.redirect_url;
                    } else {
                    	Page.next(next_data);
                    }
                } else {
                    alert(data.return_data.msg);
                    $('#signup_submit').removeAttr('disabled');
                }
            }, "POST");
		},
		
		next: function(data) {
			/*
			 * Call this with the return data from ajax/select_service
			 */

	    	if (data.return_data.payment_optional) {
		    	
                {% comment %} Let them choose whether to go to the billing page {% endcomment %}
                
                if (confirm(data.return_data.msg)) {
                 window.location = '/info/billing/?service={{service.name}}&agent={{agent}}';
                } else {
                    window.location = '/info/payment_complete/?agent={{agent}}';
                }

	    	} else if (data.return_data.payment_required) {
		    
                {% comment %} Payment is required, take them to the billing page {% endcomment %}
               	
                window.location = '/info/billing/?service={{service.name}}&agent={{agent}}';
                   
            } else if (data.return_data.success) {

               	{% comment %} Service is free {% endcomment %}
                   
                window.location = '/info/payment_complete/?agent={{agent}}';
            } else {
                   
                alert(data.return_data.msg);
                $('#signup_submit').removeAttr('disabled');
            }
				   
		}

	};
	
</script>
{% endblock %}

{% block content %}
<div class='block rounded_upper outer_content' style='padding-bottom: 20px; height: auto; background: #fff;'>

	<div class='order_heading' style='padding-top:5px; margin-bottom: 15px; '>
	    <h1 style='color: #000; font-size: 3em;'>
	    	{{site.name}} <span style='color: #999;'>{{service.name}}</span> {% trans 'for sales representatives.' %}
	    </h1>    
	</div>
	
	{% comment %}
		<div style='padding: 10px; background: #eee; border: 1px solid #ccc; margin: 15px 0px 15px 0px;'>
		 	<h2>{% trans 'Notice:' %}</h2>
		 	
		 	<div style='margin-top: 15px;'>
		 		{% trans 'Due to overwhelming demand, we will be in beta mode for the next week or so: load times may be on the slow side. If you run into trouble, please email your account manager - we resolve most issues within 24 hours.  Please read <a href="/blog/2009/aug/24/overwhelming-response/">this blog post</a>.' %}
		 	</div>
		 	 
		</div>
	{% endcomment %}
	
	<form id='signup_form' onsubmit='Page.submit_form(); return false;'>
	
		<div class='signup_info' style='float: right; width: 250px; '>
			
			{% comment %}Use style to hide the paypal block if not payment_required, instead of wrapping the whole div in an if block.
			Code still needs to refer to $('#paypal_info')
			{% endcomment %}
			
			{% comment %}		
			<div id='paypal_info' {% if not payment_required %}style='display: none;'{% endif %}>
				
				<h3>{% trans 'Pay as you go' %}</h3>
				
				{% trans "No long term contracts or fees.  If you're happy, we'll bill you via your credit card or Paypal.  If you cancel, you'll only be billed for the current cycle." %}
				
				<h3>{% trans 'Payment methods' %}
				</h3>
				
				<div style='float: right'>
				<img src="https://www.paypal.com/en_US/i/bnr/horizontal_solution_PPeCheck.gif" border="0" alt="Official PayPal Seal">
				</div>
			</div>
			{% endcomment %}
			
			<div style='clear: right;'></div>
			
			<h3>{% trans 'Featuring' %}
			</h3>
			
			<div style='margin-top: 10px;'>
				<p>
					{% for f in service_features %}
						{% ifequal f.type 'checkbox' %}
							<input type='checkbox' disabled='disabled' {% if f.value %}checked='checked'{% endif %} /> {{f.name|safe}} </br>
						{% endifequal %}
					{% endfor %}
				</p>
			</div>	
			
			<h3>{% trans 'Recently covered on' %}
			</h3>
			
			<div style='margin-top: 10px;'>
			
				<a href='/info/press/list/'><img border='0' alt='New York Magazine' src='/static/images/press/images/new_york.png'/></a>
				<br/>
				<a href='/info/press/list/'><img border='0' alt='Wall Street Journal' src='/static/images/press/images/wsj.png'/></a>

			</div>
			
			
		</div>
		
		
		<div class='signup_section' style='width: 350px;'>
		
			<div class='signup_block' id='signup_section_email' style='margin-top:;'>
				<h1 style='margin-top: 0px;'>{% trans 'Work email' %}
				</h1>
				
				<div>
					{% trans "Provide your work email address (no personal address). We <a href='/info/features/privacy/'>never share</a> your email address." %}
				</div>
				
				<div style='height: 20px;'></div>
				
				<div style='float: left; width: 100px;'>
					<strong>
						{% trans 'Work Email' %}
					</strong>
				</div>
				{% if alias %}
					<input disabled='disabled' type='text' id='signup_email' name='signup_email' class='' style='float: left; width: 200px' value='{{alias.email}}'/>
				{% else %}
					<input type='text' id='signup_email' name='signup_email' class='' style='float: left; width: 200px' value='{{email|default_if_none:""}}'/>
				{% endif %}
				
				<div style='clear: left; height: 0px;'></div>
	
				
			</div>
			
			
			{% if show_promo  %}
			<div class='signup_block' id='signup_section_promo' style='{% if service.is_free %}display: none;{% endif %} clear: left; margin-top: 15px;'>
			
				<h1>{% trans 'Save money' %}</h1>
				<div style='margin-bottom: 10px;'>
					{% trans "If you have a promotional discount code, enter it here. " %}
					
				</div>
				
				
				<div style='float: left; width: 80px;'>
					<strong>
						{% trans 'Promo code' %}
					</strong>
				</div>
				<input {% if alias %}disabled='disabled'{% endif %} type='text' id='signup_promo' name='signup_promo' class='' style='float: left; width: 130px' value=''/>
				<input {% if alias %}disabled='disabled'{% endif %} style='margin-left: 5px;' type='button' value='{% trans "Validate" %}' onclick='Page.check_promo(); return false;'/>
				
				<div style='clear: left; height: 10px; color: red;' id='signup_promo_error' ></div>
				
	
			</div>
			{% else %}
				<input type='hidden' disabled='disabled' id='signup_promo' name='signup_promo' class='' value=''/>
			{% endif %}
			
			<div id='signup_section_agree' style='clear: left; margin-top: 10px; ' class='signup_block rounded_upper rounded_lower'>
	
				<h1>{% trans 'Overview' %}</h1>
				
				<div id='signup_service_terms' class='rounded_upper rounded_lower' style='padding: 5px; background:#FCF8BC; margin-bottom: 10px; font-size: .9em;' align='center'>
					{{terms_string|safe}}
				</div>
				
				<div>
					<div class='terms'>
					
						<label>
						<input type='checkbox' name='signup_agree' id='signup_agree'/>
						
						{% trans 'I agree to the' %} 
						<a href='#' onclick='Page.popup("/info/terms/terms");return false;'>{% trans 'terms of service' %}</a>  
						</label>
					
					</div>
					
					<div style='padding-top: 10px;'>
						<input type='submit' id='signup_submit' name='signup_submit' value='{%if payment_required %}Continue{% else %}Create account{%endif%}'/>
					</div>
				</div>
				
				
			</div>
			
			
		</div>
		
		<div style='clear:both;'></div>
		
	</form>
	
	
</div>

<div style='clear:both;'></div>

{% endblock %}
