{% extends 'main.html' %}
{% load i18n %}

{% block style %}
<style>
	.app_block {
		margin-bottom: 15px;
		border: 1px solid #eee;
		padding: 5px;
	}
</style>
{% endblock %}

{% block javascript %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/connectors/">
{% endblock %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h1 class='mp'>{% trans 'Connectors' %}</h1>
	</div>
{% endblock %}

{% block content %}

	<div class='block block_content' style='background: #fff;'>
		
		<div class='app_block'>
			
			<div class='mp' style='font-size: 1.3em;'>
				
				<img src='/static/tango/apps/internet-mail.png' style='margin-right: 5px;'/>
				
				{% trans 'Email conversation tracker' %}
				
			</div>
			
			<div style='margin-top: 5px;'>
				{% trans 'by' %} <a target='_blank' href='/'>{{site.name}}</a>
			</div>
			
			<div style='margin-top: 10px;'>
				{% trans 'Track and download relevant email conversations.' %}
			</div>
		</div>
		
		<div style='clear:both;'></div>
		
		{% for app in apps %}
			{% with app.get_latest_revision as rev %}
			
			<div class='app_block'>
				<div style='float:right;'>
					{% if rev %}
						<span style='color: #999;'>{% trans 'Updated' %} <i>v{{rev.version}}{% if rev.svn_revision %}.{{rev.svn_revision}}{% endif %}</i> - {{rev.date_created|timesince}} ago</span>
					{% endif %}
				</div>
				<div class='mp' style='font-size: 1.3em;'>
					{% if rev and rev.icon_url and rev.icon_filename %}
						<img src='{{rev.icon_url}}' style='margin-right: 5px;'/>
					{% endif %}
					
					<a href='/download/connectors/{{app.base_name}}/'>{{app.name}}</a>
					
				</div>
				
				{% if app.vendor and app.vendor_url %}
				<div style='margin-top: 5px;'>
					{% trans 'by' %} <a target='_blank' href='{{app.vendor_url}}'>{{app.vendor}}</a>
				</div>
				{% endif %}
				
				<div style='margin-top: 10px;'>
					{{app.description}}
				</div>
			</div>
			
			<div style='clear:both;'></div>
			{% endwith %}
		{% endfor %}
		
		<div style='margin-top: 15px;'>
			<a href='/download/'>
				<img border='0' title='{% trans "Download the conversation tracker now!" %}' src='/static/images/download.gif'/>
			</a>
		</div>
		
		
	</div>

{% endblock %}