		<style>
			div.press_logos img {
				margin-right: 3px;
				margin-bottom: 3px;
			}
		</style>
		<div style='text-align:center; margin-top: 10px;' class='press_logos' align='center'>
			<a href='/info/press/list/'><img border='0' alt='Wall Street Journal' src='/static/images/press/images/wsj.png'/></a>
			<a href='/info/press/list/'><img border='0' alt='New York Magazine' src='/static/images/press/images/new_york.png'/></a>
			<a href='/info/press/list/'><img border='0' alt='CNN' src='/static/images/press/images/cnn.gif'/></a>
			<a href='/info/press/list/'><img border='0' alt='Fortune magazine' src='/static/images/press/images/fortune.gif'/></a>
			<a href='/info/press/list/'><img border='0' alt='eWeek covers Calenvy' src='/static/images/press/images/eweek.gif'/></a>
			<a href='/info/press/list/'><img border='0' alt='GigaOM' src='/static/images/press/images/gigaom.gif'/></a>
			<a href='/info/press/list/'><img border='0' alt='ReadWriteWeb' src='/static/images/press/images/readwriteweb.gif'/></a>
			<a href='/info/press/list/'><img border='0' alt='Web Worker Daily' src='/static/images/press/images/webworker.gif'/></a>
		</div>