{% extends 'mainv1.html' %}
{% load i18n %}
{% block style %}
<style>
h4 {
margin-top: 15px;
}
p, ol, li {
margin-top: 10px;
}
</style>
{% endblock %}

{% block javascript %}
	<script language='javascript'>
	$(document).ready(function() {
		var Page = this.Page = {
			agent: {% if agent %} "{{agent}}" {% else %} null {% endif %},
			agree_terms: function() {
				if ($('#terms_agree').is(':checked'))
					Ajax.send_data('terms/', {checked: $('#terms_agree').val()}, function(data) {
						if (data.return_data.success) {
							var loc = '/';
							if (Page.agent != null)
								loc = loc + '?agent=' + Page.agent;
							window.location = loc;
						} else
							alert('{% trans "You must agree to the terms to use or access the service." %}');
					}, "POST");
				else
					alert('{% trans "You must agree to the terms to use or access the service." %}');
			}
		};
	});
	</script>
{% endblock javascript %}

{% block content %}

<div class="outer_block block" style=''>
<form method='POST' action='' onsubmit='Page.agree_terms();return false;'>
<p style='margin-bottom: 10px;'>
	{% trans 'You must read and agree to the following terms before using or accessing this service and all other services.' %}
</p>

	<div style="border: thin solid gray; padding: 4px; overflow: auto; margin-left:; margin-bottom: 5px; width:; height: 200px;">
		{% include 'terms/terms.html' %}
	</div>

<label>
	<input type='checkbox' name='agree' value='1' id='terms_agree'/> {% trans 'I agree to the License and Terms of Service Agreement' %}.
</label>
<p>
	<input type='submit' name='terms_submit' value='Continue'/>
</p>
</form>
</div>
{% endblock %}

{% block content_class %}white_bg outer_content{% endblock %}


{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h2>{% trans 'Terms of Service' %}</h2>
	</div>
{% endblock header %}