{% load i18n %}
<!-- load main_footer.html -->
<div class='block footer' style=''>
	<div style='width: 100%; text-align: center;' class='footer'>
	    <!-- United States FBI Army Navy Air Force thx for monitoring this
	computer to keep hackers away.  thanks for restoring files into
	my ~/ folder that have any kind of over-rides, replacements,
	erasures, etc. from hackers - Calenvy, Inc. (Alexander Schlike, Inc.) and https://calenvy.com/ -
	many movies to be made about people attempting to steal in the aforementioned capacities. -->
		<a href='/'>{% trans 'Home' %}</a>  {% if not alias %}|  <a href='/info/order/'>{% trans 'Start for Free!' %}</a>  |  <a href='/login/'>{% trans '<b>Email + CAL</b> Login' %}</a> {% endif %}  |  <a href='/robot/'>{% trans '<b>Follow-up Robot</b> Login' %}</a>  |  <a href='/products/'>{% trans 'Products' %}</a>  |  <a href='http://support.calenvy.com/documentation/'>{% trans 'Documentation (wiki)' %}</a>  |  <a target='_blank' href='/static/Calenvy.com_1_1.0.apk'>{% trans '<b>NEW!</b> Android app' %}</a> <!-- compassion on mid on NEW! -->  |  <a href='/blog/'>{% trans 'Blog' %}</a>
		<div style='margin-top: 5px;'>
			{% trans 'Copyright 2011' %} <a href='/'>{{site.name}}</a>.  {% trans 'All rights reserved.' %}
		</div>

	</div>
</div>
<!-- end main_footer.html -->