{% load i18n %}{% comment %} The page loaded into the popup window, does an Ajax call to fetch the URL for OpenID authentication{% endcomment %}
<html lang="en-US">
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<LINK REV="made" href="mailto:founders@{{site.domain}}">
<META NAME="author" CONTENT="Noted, Inc.">
<META NAME="ROBOTS" CONTENT="ALL">
<style>
	
	body {
        font: 14px 'Helvetica Neue', 'Helvetica', 'Arial';
     	margin: 10px;  
     	background: #FFFFEB;
     	text-align: center;
	}
	
	.global_width {
		width: 95%;
	}
	
	div.status {
		background: #DFFFE3; 
		border: 1px solid #C2EFC7; 
		padding: 5px; 
		margin-bottom: 10px;
		display: none;
	}

</style>

<!--[if IE]>'
<style type="text/css"> 
	
</style>
<![endif]-->

<title>{% trans 'Authenticate with Google' %}</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/dash/main_javascript.js?agent={{agent}}"></script>

<script type="text/javascript">

	var email = '{{email|escapejs}}';

	$(document).ready(function () {
		CalenvyOpenID.get_endpoint(email);
	});
	
</script>
	
</head>

<body>

	<img class='header_logo' alt='{{site.name}} {% trans "CAL powered by email" %}' src='/static/images/{{site.name}}_logo_v3.gif' border='0'/>

	{% block content %}
		<h1>{% trans 'Please wait...' %}</h1>
	
		<div class='block'>
			<strong>
				{% trans 'Redirecting to Google for authentication.' %}
			</strong>
		</div>
		
	{% endblock %}
</body>

</html>
