{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo; 
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
     {% trans 'Delete' %}
</div>
{% endblock %}

{% block content %}

	{% if is_deleting %}
		{% trans 'The' %} {{ object_name }} "{{object.base_url}}" {% trans 'is already being deleted.' %}
	{% else %} 
 	 	
	 	<p>
	 		Here are the account's users and a count of how many emails they have:
	 		<table>
	 			<tr>
	 				<th>User</th>
	 				<th># emails</th>
	 			</tr>
	 			{% for a in object.alias.all %}
		 			<tr>
		 				<td>{{a.email}}</td>	
		 				<td>{{a.get_email_count}}</td>
		 			</tr>
	 			{% endfor %}
	 		</table>
	 	</p>

		{% if object.remote_subscription_id %}
			<p>
				This will cancel subscription <b>{{object.remote_subscription_id}}</b> on the Payment server.
			</p>
		{% endif %}
			 	
	 	{% if object.paypal_invoice %}
		 	<p style='color: red;'>
		 		This is a Paypal account - please cancel the subscription on Paypal (I can't do this automatically)<br/>
		 		Paypal invoice: <b>{{object.paypal_invoice}}</b><br/>
		 		{% if paypal_payer_email %}Paypal payer email: <b>{{paypal_payer_email}}</b>{% endif %}
		 	</p>
		{% endif %}
		
	    <form action="" method="post">
		    <div>
			    <input type="hidden" name="post" value="yes" />
			    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
		    </div>
	    </form>
	    
	{% endif %}
    
{% endblock %}
