{% extends 'modals/wizard.html' %}
{% load i18n %}

{% block wizard_id %}contacts_widget{% endblock %}

{% block wizard_js %}
	{% spaceless %}
	<script language="javascript">
		
		var WizardContactsWidget = this.WizardContactsWidget = {

			alias_id: {{alias.id}},
			
		    hide: function() {
		        $('.wizard').hide();
		    }, 

			campaigns_loading: false,
			
		    wizard_campaign_id_mousedown: function(select_box) {
			    // Load a list of followup campaigns and their names
			    
			    if (!WizardContactsWidget.campaigns_loading) {
			    	WizardContactsWidget.campaigns_loading = true;
					$("option", select_box).remove();
					select_box.append("<option>{% trans 'Loading campaigns...' %}</option>");

					// Grab the list from the remote server, populate the dropdown box with the choices
			    	Ajax.send_data('get_followup_campaigns/', {}, function(data) {
			            if (data.return_data.success) {
							$("option", select_box).remove();
				            var campaigns = data.return_data.campaigns;
				            
				            for (var i=0; i<campaigns.length; i++) {
					            var campaign = campaigns[i].campaign;
					            var op = $('<option></option>').val(campaign.id).text(campaign.name);
					            op.appendTo(select_box);
					            if (i==0) {
						            op.attr('selected', 'selected');						            
					            }		
				            }
			            } else {
			                alert("{% trans 'Could not process your request.' %}");
			            }
			        }, "GET");
					return false;		// campaigns not loaded yet
				} else {
					return true;		// campaigns already loaded, select box should behave as usual
				}		
		    },
		    
		    generate_widget: function () {
				
				if ($('#widget_redirect').val() != 'http://' && $('#widget_redirect').val() != '') {
								
			    	Ajax.send_data('get_tracker_hash/', {data: $('#widget_redirect').val()}, function(data) {
			            if (data.return_data.success) {
			                WizardContactsWidget._generate_widget(data.return_data.data);
			            } else {
			                alert("{% trans 'Could not process your request.' %}");
			            }
			        }, "GET");
	
				} else {
					WizardContactsWidget._generate_widget('');
				}
				
				return false;
				
			},
				    
		    _generate_widget: function (url_hash) {
				var widget_form = "<"+"form method='POST' action='http{%if has_ssl%}s{%endif%}://{{site.domain}}/tracker/{{alias.account.slug}}/{{alias.id}}/'>\n\n";
	
				if (url_hash != '') {
					widget_form += '<input type="hidden" name="to_c" value="'+url_hash+'"/>\n\n';
				}

				var followup_campaign = $('#wizard_campaign_id').val();
				if (followup_campaign != '0') {
					widget_form += '<input type="hidden" name="followup_campaign" value="' + followup_campaign + '"/>\n';
				}
				
			    if ($('#widget_notify_email').val() == '1') {
				    widget_form += '<input type="hidden" name="notify" value="' + WizardContactsWidget.alias_id + '"/>\n';
			    }
			    
			    $('input.widget_field','form#widget_fields').each(function() {
					var widget_id = $(this).attr('id');
					widget_id = widget_id.replace('widget_','');
					var widget_name = widget_id.replace('_',' ');
					if ($(this).hasClass('required')) {
						widget_name += '*';
					}
					widget_id = widget_id.toLowerCase();
					if ($(this).is(':checked')) {
						
						if ($(this).hasClass('textarea')) {
							widget_form += widget_name + '\n<br/><textarea name="'+widget_id+'"></textarea><br/><br/>\n';
						} else if ($(this).attr('id') == 'widget_tag_enable') {
							widget_form += '\n<input type="hidden" name="tag" value="'+$('option:selected','#widget_tag').text()+'"/>\n\n';
						} else {
							widget_form += widget_name + '\n<br/><input type="text" name="'+widget_id+'"/><br/><br/>\n\n';
						}
					}
					
			    });

			    widget_form += '\n\n<input type="submit" name="submit_button" value="{% trans "Submit" %}"/>\n\n</form>';
				$('#widget_grab')
					.show()
					.val(widget_form)
					.unbind("click")
					.bind("click",function(e) {
						$(this).select();
					})
					.select();
		    }
		};

	</script>
	
	{% endspaceless %}
{% endblock %}

{% block left_content %}

	{% spaceless %}
	
			<div style='padding: 10px 10px 0px 10px; height: 450px;'>
				<div style='color: #2B2825; font-size: 1.5em;'>{% trans 'Simply copy & paste to place a contact form on your website.' %}</div>
				<div style='margin-top: 10px; margin-bottom: 20px;'>
					{% trans "Automatically create contact entries and update contacts directly from your website." %}
				</div>
				<div style='margin-top: 10px; margin-bottom: 20px;'>
					{% trans "Place the form on your site's contact/inquiry confirmation page, payment completion page, or white-paper confirmation page." %}
				</div>
				
				
				
			</div>
			
	{% endspaceless %}

{% endblock %}

{% block content %}
	{% spaceless %}

	<div style='background: url(/static/images/yellow_bg.gif) #FCF8BC; border-bottom: 1px solid #CCC;'>
		
		<div style='padding: 10px; position: relative; left: 10px; '>
			{% trans 'Contact form wizard' %}
		</div>
		
	</div>

	<div style='' align='left'>
		
		<div style='padding: 10px; position: relative; left: 10px; '>
		
			<form id='widget_fields' method='post' action='' onsubmit='WizardContactsWidget.generate_widget(); return false;' style='padding-left: 5px;'>
		
			
				<h3>{% trans 'Redirect to this URL after form is submitted.' %}</h3>
				
				<div style='padding: 10px 0px 10px 0px;'>
					<input type='text' name='widget_redirect' id='widget_redirect' value='http://'/>
				</div>
				
				<h3>{% trans 'Notify me by email' %} ({{alias.email}}) {% trans 'after form is submitted' %}</h3>
				
				<div style='padding: 10px 0px 10px 0px;'>
					<select id='widget_notify_email'>
						<option value='1' selected='selected'>{% trans 'Yes' %}</option>
						<option value='0'>{% trans 'No' %}</option>
					</select>
				</div>
				
				<h3>{% trans 'Launch <a href="/products/follow-up-robot/" target="_blank">Follow-up Robot campaign</a> after form is submitted.' %}</h3>
				
				<div style='padding: 10px 0px 10px 0px;'>
					<select {% if not followup_remote_user %}disabled='disabled'{% endif %} id='wizard_campaign_id' onmousedown='return WizardContactsWidget.wizard_campaign_id_mousedown($(this));'>
						<option selected='selected' value='0'>{% trans 'Select a campaign' %}</option> <!-- Follow-up campaign selected: #22 (name if you can save it) -->
					</select>
					
					{% if not followup_remote_user %}
						<input type='button' onclick='window.location="/robot/"; return false;' value='{% trans "Register" %}'/>
						{% trans 'or' %} 
						<input type='button' onclick='window.location="/dash/{{alias.account.base_url}}/admin/"; return false;' value='{% trans "Connect" %}'/>
					{% endif %}
					
				</div>
				
				<h3>{% trans 'Select fields to collect from your website.' %}</h3>
			
				<div style='padding: 10px 0px 10px 0px;'>
								
						<label style=''>
							<input class='widget_field' type='checkbox' name='widget_first_name' id='widget_First_name' value='1'/>
							{% trans 'First name' %}
						</label>
						
						<label style='margin-left: 10px;'>
							<input class='widget_field' type='checkbox' name='widget_last_name' id='widget_Last_name' value='1'/>
							{% trans 'Last name' %}
						</label>
						
						<label style='display:block;'>
							<input class='widget_field required' type='checkbox' checked='checked' disabled='disabled' name='widget_email' id='widget_Email' value='1'/>
							{% trans 'Email' %}
						</label>
						
						<label style=''>
							<input class='widget_field' type='checkbox' name='widget_company' id='widget_Company' value='1'/>
							{% trans 'Company' %}
						</label> 
						
						<label style='margin-left: 10px;'>
							<input class='widget_field' type='checkbox' name='widget_twitter' id='widget_Twitter' value='1'/>
							{% trans 'Twitter' %}
						</label>
						
						<div style='display:block;'>
						
							<label>
								<input class='widget_field' type='checkbox' onchange='$("#widget_tag").toggle(); return false;' name='widget_tag_enable' id='widget_tag_enable' value='1'/>
								{% trans 'Tag' %}
							</label>
							
							<select name='widget_tag' id='widget_tag' style='display:none; width: 200px; font-size: .9em; margin-left: 5px;'>
						        {% for b in buckets %}
						        	{% if not forloop.first %}
						           		<option value="{{b.slug}}">{{b.text}}</option>
						            {% endif %}
						        {% endfor %}
							</select>
							
						</div>
						
						<label style='display:block;'>
							<input class='widget_field' type='checkbox' name='widget_description' id='widget_Description' value='1'/>
							{% trans 'Contact description' %}
						</label>
						
						<label style='display:block;'>
							<input class='widget_field textarea' type='checkbox' name='widget_note' id='widget_Note' value='1'/>
							{% trans 'Note' %}
						</label>
											
						<div style='margin-top: 15px;'>
							<input type='submit' value='{% trans "Generate code" %}' name='widget_continue'/>
						</div>
										 
					
					<textarea name='widget_grab' id='widget_grab' style='width: 300px; font-size:.9em; height: 50px; margin-top: 15px;'>{% trans "Click 'Generate code' above..." %}</textarea>
					  
				</div> 
				
				<div style='padding: 10px 0px 10px 0px;'>
					
				</div>
			
			</form>
		
		</div>
		  
	</div>
	{% endspaceless %}
{% endblock %}