{% extends 'modals/wizard.html' %}
{% load i18n %}

{% block wizard_id %}password{% endblock %}

{% block wizard_js %}
<script language="javascript">
	var PasswordForm = this.PasswordForm = {
		set_name_password: function() {
	        var password = $('#password').val();
	        var first_name = $('#first_name').val();
	        var last_name = $('#last_name').val();
	        var ez_name = $('#ez_name').val();
	        var password_repeat = $('#password_repeat').val();
	        var valid = true;
	        $('#password_error').html('');
	        if (password.trim() == '') {
				valid = false;
				$('#password_error').html("Password must not be blank.");
	        }
	        if (password != password_repeat) {
		        valid = false;
	            $('#password_error').html("Passwords don't match.");
	        }
	        if (first_name.trim() == '') {
		        valid = false;
		        $('#first_name_error').html("You should set at least a first name.");
	        } else {
	            $('#first_name_error').html("");
	        }		        
	        if (valid) {
	            Ajax.send_data('set_name_password/', {password: password, first_name: first_name, last_name: last_name, ez_name: ez_name}, function(data) {
	                if (data.return_data.success) {
	                    //alert(data.return_data.msg);
                        $('.full_name').text(first_name + ' ' + last_name);
		                if (Page.force_refresh_all_widgets) {
		                	{% comment %} Show the new name in the contacts widget {% endcomment %}
			                Page.force_refresh_all_widgets();
		                }
		                if (data.return_data.ez_name) {
		               		$('.alias_ez_name').text('@'+data.return_data.ez_name);
		               		$('#ez_name').val(data.return_data.ez_name);
		                }
	               		
	                    Wizard.hide_and_show_next();
	                    $('#password').val('~~~~~~~~');			// some fake text
						$('#password_repeat').val('~~~~~~~~');	// some fake text
	                    //window.location = '?msg=Success.'
	                } else {
						key = data.return_data.key;
	                	$('#'+key+'_error').html(data.return_data.html_msg);
		                
		                if (data.return_data.html_msg) {
		                	$('#'+key+'_error').html(data.return_data.html_msg);
		                } else {
		                	$('#'+key+'_error').text(data.return_data.msg);
		                }
	                }
	            }, "POST");
	        }
    	},

    	password_set: {% if alias.password_hash %} true {% else %} false {% endif %}
	}
	
	$(document).ready(function() {
		if (PasswordForm.password_set) {
			$('#password').val('~~~~~~~~');			// some fake text
			$('#password_repeat').val('~~~~~~~~');	// some fake text
		} 
	});
	
</script>
{% endblock %}

{% block left_content %}
		<div style='padding: 10px;'>
			<div style='color: #2B2825; font-size: 1.5em;'>{% trans 'Security is a priority.' %}</div>
			<div style='margin-top: 10px; margin-bottom: 20px;'>
				<img src='/static/tango/status/dialog-error.png' style='margin-right: 5px;'/>{% trans "Set a password that includes letters and numbers." %}
			</div>
			
			<div style='margin-top: 10px; margin-bottom: 20px;'>
				{% trans "Provide a first name and last name so that others can identify you when scheduling meetings." %}
			</div>
			
		</div>
{% endblock %}

{% block content %}
		<div class='bg-aqua' style='border-bottom: 1px solid #CCC;'>
			<div style='padding: 10px; position:relative; '>
				{% trans 'Set your name, username, password' %}
			</div>
		</div>
		<div style=''>
			
			<div style='padding:0px 0px;' >
			
				<!-- start wizard content -->
								
	            <form action='' method='POST' onsubmit='PasswordForm.set_name_password();return false;' style='margin-top: 0px;'>
	           	    <ul class='sidebar-menu' style='width:100%;'>
                    <li class="active treeview menu-open">
                      <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Set your name and username</span>
                        
                      </a>
                      
                    </li>
                    </ul>
                    
                    <div class='box-body'>

                        {% trans 'First name' %}: <br/>
                        <input type='text' id='first_name' name='first_name' value='{{alias.contact.first_name}}'/><br/>

                        <div style="color:red; width: 220px;" id='first_name_error'></div><br/>

                        {% trans 'Last name' %}:<br/>
                        <input type='text' id='last_name' name='last_name' value='{{alias.contact.last_name}}'/><br/><br/>

                        {% trans 'Username' %}:<br/>
                        @<input type='text' id='ez_name' name='ez_name' value='{{alias.ez_name}}'/>

                        <div style="color:red; width: 220px;" id='ez_name_error'></div><br/>

                    </div>
                        
					<ul class='sidebar-menu'>
                    <li class="active treeview menu-open">
                      <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Set a secure password</span>
                        
                      </a>
                      
                    </li>
                    </ul>
                    
                    <div class='box-body'>

                        {% trans 'Password' %}: <br/>
                        <input type='password' id='password' name='password' onfocus='this.select();' onclick='this.select();' value=''/><br/>

                        <div style="color:red; width: 220px;" id='password_error'></div><br/>

                        {% trans 'Please re-type your password' %}:<br/>
                        <input type='password' id='password_repeat' name='password_repeat' onfocus='this.select();' onclick='this.select();' value=''/><br/><br/>

                        <input class='btn btn-primary' type='submit' name='save' value='{% trans "Save" %}'/><br/>
                    </div>
                    
                </form>
			
			</div>
			
			<!-- end wizard content -->
		</div>
{% endblock content %}

{% block bottom %}	
	{% if alias.password_hash %}		
		<div style='float:right; margin: 7px; font-size: 1.2em; font-weight: bold;' class='post_button'>
	        <a class='btn btn-primary' href='#' onclick='$(".wizard_password").hide(); if (Page.close_wizard_server) Page.close_wizard_server(); return false;'>{% trans 'Close' %}</a>
	    </div>
   	{% endif %}
{% endblock %}
