{% extends 'emails/main.html' %}{% load i18n %}

{% block content %}

<p style='margin-bottom:10px;'>
{% if alias.first_name %}
    {{alias.first_name}},
{% else %}
    {{alias.email}},
{% endif %}
</p>

<p style='margin-bottom:10px;'>
{% trans 'What are you up to right now? Please reply and update me with your status.' %}
</p>

<p style='margin-bottom:10px;'>
{% trans 'Thanks,' %}</br>
-- {{assistant.first_name}}
</p>

{% endblock content %}
