{% extends 'emails/main_assist.html' %}{% load i18n %}

{% block content %}

<p style='margin-bottom:10px;'> 
    {% ifequal status constants.EVENT_STATUS_TENTATIVE %}
    	{% if creator_alias.first_name %}
        	{% trans 'Can you make it with' %} {{creator_alias.first_name}}: <!--<strong>{{date_span}}</strong>?-->
        {% else %}
        	{% trans 'Can you make it at' %}: <strong>{{date_span}}</strong>? 
        	{% trans 'Please respond directly to this email or to' %} {{creator_alias.email}}.
        {% endif %}
    	<div>
    		{% comment %}
		    	{% if phone %}
		        	{% trans 'Phone:' %}{{phone}}
		        {% endif %}
	        {% endcomment %}
       	</div>
    {% endifequal %}
    {% ifequal status constants.EVENT_STATUS_SCHEDULED %}
    	{% if creator_alias.first_name %}
        	{% trans "I have you scheduled with" %} {{creator_alias.first_name}}: <strong>{{date_span}}</strong>.
        {% else %}
            {% trans "I have you scheduled at" %} <strong>{{date_span}}</strong>.
        {% endif %}
		{% comment %}
			{% if phone %}
			    <br/>{% trans 'Phone' %}: {{phone}}
			{% endif %}
		{% endcomment %}
    {% endifequal %}
    {% ifequal status constants.EVENT_STATUS_CANCELED %}
        {% trans 'Meeting canceled: ' %} <strong>{{date_span}}</strong>.
    {% endifequal %}    
        
    
    {% comment %}
    <div>
    	{{event.title_long|safe|linebreaksbr}}
    </div>
    {% endcomment %}
</p>

{% endblock content %}



