{% extends 'emails/main_signup.html' %}{% load i18n %}
{% block content %}
    <p style='margin-bottom:10px;'>
        {{alias.get_full_name_or_email}} {% trans 'is attempting to join your account (or has just mailed the assistant a file to be accessed online).  Click below to confirm that you know' %} 
        <strong>{{alias.get_full_name_or_email}}</strong>.
    </p>
    <p style='margin-bottom:10px;'>
        <a href="http://{{site.domain}}/dash/?alias={{admin.slug}}&to=/dash/{{admin.account.base_url}}/admin/approve_email/?confirm_email={{alias.email}}">
            http://{{site.domain}}/dash/?alias={{admin.slug}}&to=/dash/{{admin.account.base_url}}/admin/approve_email/?confirm_email={{alias.email}}
        </a>
    </p>
{% endblock %}