{% extends 'emails/main.html' %}{% load i18n %}

{% block content %}

<p>
	{% trans 'Someone submitted this on your contact form:' %}
</p>

<p style='margin-bottom:10px;'> 
	{% if name %}{% trans 'Name' %}: {{name}}<br/>{% endif %}
	{% if email %}{% trans 'Email' %}: <a href='mailto:{{email}}'>{{email}}</a><br/>{% endif %}
	{% if company %}{% trans 'Company' %}: {{company}}<br/>{% endif %}
	{% if referer %}{% trans 'Referer' %}: {{referer}}<br/>{% endif %}
	{% if twitter %}{% trans 'Twitter' %}: {{twitter}}<br/>{% endif %}
	{% if tag %}{% trans 'Tag' %}: {{tag}}<br/>{% endif %}
	{% if description %}{% trans 'Description' %}: {{description}}<br/>{% endif %}
	{% if note %}{% trans 'Note' %}: {{note|linebreaksbr}}<br/>{% endif %}
</p>

{% endblock content %}

