{% extends 'emails/main_signup.html' %}{% load i18n %}
{% block content %}
    <p style='margin-bottom:10px;'>
        {{requester_alias.get_full_name_or_email}} 
        {% trans 'would like to access the file' %} {{file.name}}.
    </p>
    
    <p style='margin-bottom:10px;'>
        {% trans 'If you would like to grant permission for a limited time' %}, {% trans 'please click the following link:' %}<br/>
        <a href="http://{{site.domain}}/dash/?alias={{owner_alias.slug}}&to=/dash/{{owner_alias.account.base_url}}/grant_perms/%3F{% if file %}file={{file.slug}}{% else %}{% if contact %}contact={{contact.id}}{% endif %}{% endif %}%26requester={{requester_alias.id}}">
            http://{{site.domain}}/dash/?alias={{owner_alias.slug}}&to=/dash/{{owner_alias.account.base_url}}/grant_perms/%3F{% if file %}file={{file.slug}}{% else %}{% if contact %}contact={{contact.id}}{% endif %}{% endif %}%26requester={{requester_alias.id}}
        </a>
    </p>
{% endblock %}