{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

<style>
	.block_event {
		padding-left: 5px;
		margin-bottom: 2px;
	}
	.block_event_default {
		border-left: 3px solid {{"red"|color_from_time}};
	}
	.block_event_allday {
		border-left: 3px solid {{"allday"|color_from_time}};
	}
	.block_event_soon {
		border-left: 3px solid {{"soon"|color_from_time}};
	}
	.block_event_far {
		border-left: 3px solid {{"far"|color_from_time}};
	}
</style>

<p style='margin-bottom:10px;'>
{{alias.greeting}},
</p>

<p style='margin-bottom:10px;'>
{% if alias.account.name %}
    {% trans "Here is your daily dose of" %} <strong>{{alias.account.name}}</strong>:
{% else %}
    {% trans "Here is your daily digest:" %}
{% endif %}
</p>

{% if status %}
    <i>{% trans 'Status' %}: {{status}}</i><br/>
{% endif %}
{% if events %}
    <div>
    {% for e in events %}
        <div class='block_event block_event_{{e.how_soon}}' style='padding-left: 5px; margin-bottom: 2px; border-left: 3px solid {{e.how_soon|color_from_time}};'> {{e.datetime}}: {{e.reminder|truncatewords:13}}
            {% if e.attendees %}   
 	    		({% for c in e.attendees %}<a href="{{c.link}}">{{c|tagname:alias}}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %})
    		{% endif %}
        {% comment %}
 	    {% if e.tags %}
   	       {% trans 'Tags' %}: 
            {% for t in e.tags %}
                {{t.text}}{% if forloop.last %}.{% else %}, {% endif %}
            {% endfor %}
        {% endif %}
        {% endcomment %}
        </div>
    {% endfor %}
    </div>
{% else %}
    <i>{% trans 'No events scheduled' %}</i>
{% endif %}

{% if digest %}
    <i>{% trans 'Everything you recently marked @digest:' %}</i><br/>
    <ul>
    {% for d in digest %}
        <li> 
            {{d.date}} {{d.time}}: {{d.summary}}
        </li>
    {% endfor %}
    </ul>
{% endif %}  

{% if other_aliases %}
    <p style='margin-bottom:10px;'>
    {% trans 'Here is what your team members have going on today: ' %}
    </p>
    
    <ul>
    {% for other_alias in other_aliases %}
        <li>
            <b><a href="{{other_alias.contact.link}}">{{other_alias.contact|tagname:alias}}</a></b>
            {% if other_alias.status %}
                <i>{% trans 'Status' %}: {{other_alias.status}}</i> <br/>
            {% endif %}
            <ul>
                {% for e in other_alias.events %}
                    <li>{{e.time}} {{e.reminder|truncatewords:13}} 
                    	{% if e.attendees %}   
 	    					({% for c in e.attendees %}<a href="{{c.link}}">{{c|tagname:alias}}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %})
    					{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endif %}    

{% if respond_emails %}
    <p style='margin-bottom:10px;'>
    {% trans 'The following emails are awaiting your response:' %}
    </p>
    <ul>
    {% for e in respond_emails %}
        <li>
            {% if e.from %}
                <b>{% trans 'From:' %}</b> {{e.from}}<br/>
            {% endif %}
            {% if e.date %}
                <b>{% trans 'Date:' %}</b> {{e.date}}<br/>
            {% endif %}
            {% if e.subject %}
                <b>{% trans 'Subject:' %}</b> {{e.subject}}<br/>
            {% endif %}
            {% if e.to %}
                <b>{% trans 'To:' %}</b> {{e.to}}<br/>
            {% endif %}
            {% if e.cc %}
                <b>{% trans 'Cc:' %}</b> {{e.cc}}<br/>
            {% endif %}
            {% comment %}
            <a href="mailto:{{e.er.assistant.email}}&subject=Re:%20{{e.subject|urlencode}}&in-reply-to={{e.message_id|urlencode}}">Respond</a>
            <a href="http://{{site.domain}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{account.base_url}}/send_eventresponse_mail%3fslug={{e.er.slug}}">Forward Original Mail</a>
            {% endcomment %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if relevant_emails %}
    <p style='margin-bottom:10px;'>
    {% trans 'The following emails might be interesting to you:' %}
    </p>
    <ul>
    {% for e in relevant_emails %}
        <li>
            {% if e.tags %}
                {% for tag in e.tags %}
                    <b>@{{tag.text}}</b>
                {% endfor %}
                <br/>
            {% endif %}
            {% if e.from %}
                <b>{% trans 'From:' %}</b> {{e.from}}<br/>
            {% endif %}
            {% if e.date %}
                <b>{% trans 'Date:' %}</b> {{e.date}}<br/>
            {% endif %}
            {% if e.subject %}
                <b>{% trans 'Subject:' %}</b> {{e.subject}}<br/>
            {% endif %}
            {% if e.to %}
                <b>{% trans 'To:' %}</b> {{e.to}}<br/>
            {% endif %}
            {% if e.cc %}
                <b>{% trans 'Cc:' %}</b> {{e.cc}}<br/>
            {% endif %}
            <a href="#">Read this e-mail</a>
            <!-- <a href="http://{{site.domain}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{account.base_url}}/send_eventresponse%3fslug={{e.er.slug}}">Forward Original Mail</a> -->
        </li>
    {% endfor %}
    </ul>
{% endif %}


{% if crawled_emails %}
    <p style='margin-bottom:10px;'>
    {% trans 'The following events/meetings are coming up:' %}
    </p>
    
    <ul>
    {% for e in crawled_emails %}
        <li>
            {{e.date}} {{e.time}}: {{e.subject}}
        </li>
    {% endfor %}
    </ul>
    <p style='margin-bottom:10px;'>
        {% trans 'Change your email scanning preferences' %} <a href='http://{{site.domain}}/dash/?alias={{alias.slug}}&to=/dash/{{alias.account.base_url}}/settings/'>here.</a>
    </p>
{% endif %}    

{% if files %}
    <p style='margin-bottom:10px;'>
    {% trans 'Files' %}:
    </p>
    <ul>
        {% for f in files %}
            <li>
                {{f.datetime}} <a href="http://{{site}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{account.base_url}}/retrieve_file%3ftoken={{f.token_slug}}">{{f.file.name}}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if new_aliases %}
    <p style='margin-bottom:10px;'>
    {% trans 'New team members' %}:
    </p>
    <ul>
        {% for t in new_aliases %}
            <li>
            	{{t}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% ifnotequal num_emails_purged None %}	 <!--  If it's 0, show it -->
    <p style='margin-bottom:10px;'>
    {{num_emails_purged}} {% trans 'email(s) purged from your account on' %} {{site.name}} {% trans 'based on your' %} {{alias.account.store_email_howlong}}-{% trans 'day retention settings' %}.
    {% if alias.is_admin %}
    	<a href="http://{{site.domain}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{alias.account.base_url}}/admin/">{% trans 'Click here' %}</a> {% trans 'to configure retention' %}.
    {% endif %}
    </p>
{% endifnotequal %}

{% endblock content %}
{% block footer %}
<p style='margin-bottom:10px;'>
    {% trans 'Have a wonderful day!' %}<br/>
    &mdash; {{alias.account.get_assistant.first_name}} ({{alias.account.get_assistant.email}})
</p>
<p style='margin-bottom:10px;'>
    {% trans 'P.S. If you find these digests annoying, you can go here to turn them off:' %}</br>
    <a href="http://{{site.domain}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{alias.account.base_url}}/settings/">http://{{site.domain}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{alias.account.base_url}}/settings/</a>
</p>
{% endblock %}
{% block postscript %}
{% comment %}
<p style='margin-bottom:10px;'>
    {% trans 'Reply to this message and use "@status" to keep your team up to date with your status.' %}
</p>
{% endcomment %}
{% endblock %}


