{% extends 'main.html' %}
{% load i18n %}
{% load account_tags %}
{% load markup %}
{% load comments %}

{% block description %}{% trans 'Sales email CAL that syncs emails into your CAL ' %} - {% render flatpage.title %}{% endblock %}

{% block title %}{% render flatpage.title %} | {% trans 'email CAL' %}{% endblock %}

{%block global_style%}width: 850px; text-align:left;{%endblock%}
{%block header_style%}width: 850px; height: auto; padding-top: 10px;{%endblock%}

{% block style %}
<style>
    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
	.block {
		color: #fff;	
	}
	
	.feature_selected {
		font-size: 1.3em; 
		text-align:center; 
		margin-bottom: 20px; 
		font-weight: bold; 
		border-bottom:2px solid #ccc; 
		border-right:0px; 
		padding: 15px;  
		background: #fff; 
		position: relative;
		 
	}
	
	.feature {
		font-size: 1em; 
		text-align:center; 
		margin-bottom: 20px; 
		padding: 3px; 
		position: relative; 
		right: 0px;
	}
	
	#features_menu a, #features_menu a:link {
		text-decoration: none;
		color: #555;
	}
	#features_menu a:hover {
		text-decoration: none;
		color: #000;
		font-weight: bold;
	}
	#features_menu .feature_selected a, #features_menu .feature_selected a:link {
		color: #000;
	}
	
	.sub_title {
		color:#666666;
		font-size:1.3em;
		line-height:1.5em;
		
	}
	.block_feature {
		padding-bottom:25px;
	}
	
	.block_feature span {
		margin-top:15px;
	}
	
	#flatpage_content h1 {
		margin-bottom: 10px;
	}
	
	#flatpage_content h3 {
		margin-bottom: 10px;
	}
	
	#flatpage_content a, #flatpage_content a:link, #flatpage_content a:active {
		color: #999;
		
	}
	
	form input[type='text'] {
	width: 99%;
	}
	
</style>
{% endblock %}

{% block javascript %}

<script language="javascript">
	$(document).ready(function() {

	});
</script>
{% endblock %}

{% block content %}

<div style="background: #eee; border-bottom: 1px solid #666;" class="block block_header">
	<h1 class='mp'>{{site.name}} {% trans 'feature explorer' %}</h1>
</div>

<div style='background:#fff; height: auto; background: url(/static/images/info/features/images/bg_left.gif) #fff top left no-repeat;' class='outer_content'>

	<div style='clear:both;'></div>
	
	<div style='float:left; width: 25%; text-align:right; ' align='right'>
		
		<div style='text-align: center; margin-top: 15px;' id='features_menu' align='right'>
			
			{% comment %}
			
			<div class='feature{% ifequal flatpage.url "/info/features/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/'>{% trans 'Overview' %}</a>
			</div>
			
			
			
			<div class='feature{% ifequal flatpage.url "/info/features/crm/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/crm/'>{% trans 'Customer Relationship Management' %}</a>
			</div>
			
			{% endcomment %}
			
			<div class='feature{% ifequal flatpage.url "/info/features/salesforce/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/salesforce/'>{% trans 'Salesforce syncer' %}</a>
			</div>
			
			<div class='feature{% ifequal flatpage.url "/info/features/gmail/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/gmail/'>{% trans 'Google mail connector' %}</a>
			</div>
			
			
			<div class='feature{% ifequal flatpage.url "/info/features/outlook/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/outlook/'>{% trans 'Microsoft Outlook plug-in' %}</a>
			</div>
			
			<div class='feature{% ifequal flatpage.url "/info/features/assistant/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/assistant/'>{% trans 'Scheduling assistant' %}</a>
			</div>
			
			
			<div class='feature{% ifequal flatpage.url "/info/features/tracker/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/tracker/'>{% trans 'Contact form widget' %}</a>
			</div>
			
			<div class='feature{% ifequal flatpage.url "/info/features/mailer/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/mailer/'>{% trans 'Personalized mass mailer' %}</a>
			</div>
			
			<div class='feature{% ifequal flatpage.url "/info/features/mobile/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/mobile/'>{% trans 'Mobile' %}</a>
			</div>
			
			<div class='feature{% ifequal flatpage.url "/info/features/privacy/" %}_selected{% endifequal %}' style=''>
				<a href='/info/features/privacy/'>{% trans 'Privacy' %}</a>
			</div>
			
		</div>
		
		<div style='clear: right;'>
		</div>
		
		{% comment %}
		
		<div style='text-align: center; margin-top: 15px; background: #fff; width: 100%; border-top: 1px solid #ccc;' id='features_menu' align='right'>
			<div style='text-align: left; font-size:.9em; background: #eee; padding: 5px;'>
				{% trans 'Learn more' %}
			</div>
			<div style='text-align: left; padding: 5px; font-size: .9em;'>
				<a href='/info/benefits/'>{% trans 'Benefits' %}</a> <br/>
				<a href='/info/security/'>{% trans 'Security info' %}</a> <br/>
				<a href='/info/press/'>{% trans 'Press materials' %}</a> <br/>
				<a href='/info/faq/'>{% trans 'FAQ' %}</a> <br/>
			</div>
		</div>
		
		{% endcomment %}
		
		<div style='text-align: center; margin-top: 15px; background: #fff; width: 100%; border-top: 1px solid #ccc;' id='features_menu' align='right'>
			
			<div style='text-align: left; padding: 5px; font-size: .9em;'>
			
				<span style='color: #666;'>
					{% trans 'Would you like to schedule something with our sales team?' %}
				</span>
				
				<br/><br/>
			
				<form method='POST' action='/tracker/DETSY/1102/'>

				<input type="hidden" name="to_c" value="AGVh1574Zuhp20nR6PUO334zhGnjDPjSaTvSa4h7i42vxSx9Xxm8WHNhY1zfX-ajONO2FWrNp4GM"/>
				<input type="hidden" name="tag" value="salesforce"/>
				
				{% trans 'First name' %}
				<br/><input type="text" name="first_name"/><br/><br/>
				
				{% trans 'Last name' %}
				<br/><input type="text" name="last_name"/><br/><br/>
				
				{% trans 'Email*' %}
				<br/><input type="text" name="email"/><br/><br/>
				
				{% trans 'Company' %}
				<br/><input type="text" name="company"/><br/><br/>
				
				<input type="hidden" name="followup_campaign" value="1" />
				
				<input type="submit" name="submit_button" value="{% trans 'Go!' %}"/>
				
				</form>
			</div>
		</div>
		
		<div style='clear:right; '></div>
		
	</div>
	
	<div id='flatpage_content' style='float: left; background: #fff; width: 75%; min-height: 450px;'>
		<!-- content goes here! -->
		
		{% render flatpage.content %}
		
	</div>
	
	<div style='clear:both;'></div>
		
	

</div>
{% endblock content %}
