{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

{% block dash_title %}

{% endblock %}

{% block headers %}
{% endblock %}

{% block style %}

<style>

.newsfeed_item_text {
	color: #999;
	clear:both;
}

.kb_block {
margin-bottom: 15px;
}

.newsfeed_item_text:hover {
	color: #000;
}

.person a, .person a:link {
    color: #000;
}

a.assigned_to, a.assigned_to:link, a.assigned_to:active {
	color: blue;
}

table.calendar {
	border-collapse: separate;
	border-spacing: 2px
}

.dateheader {
	height: 30px;
	text-align: center
}

.daysofweek {
	height: 20px;
	text-align: center
}

table.calendar td {
	margin: 2px;
	padding: 1px
	width: 120px;
	height: 52px
}

table.calendar td.daynumber {
	font-size: 8pt;
	vertical-align: top
}

table.calendar td.noday {
	background-color: #eef
}

table.calendar td.free {
	background-color: #c5dbff
}

table.calendar td.busy {
	background-color: #ffcece
}

table.calendar td.compact {
	width: 28px;
	height: 20px;
	text-align: center
}
.notify a, .notify a:link {
	color: #000;	
}

.file_has_perms {
    color: #000;
}

.file_request_perms {
    color: #999;
}
.file_link {
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.person_collections {
    
    position: relative;
    z-index: 444;
}

p {

}

.box_heading_red a, .box_heading_red a:link, .box_heading_red a:active  {
	color: #fff;
}

.box_content a, .box_content a:link, .box_content a:active {
	color:#222;
}

.box {
	margin-bottom: 10px;
}


.kb_outer_block {
	border-bottom: 1px solid #eee;
}

.kb_outer_block_compact {
	font-size: .9em;
}

.wizard .block_content a, .wizard .block_content a:link, .wizard .block_content a:active {
	color: #999;
}

.box_content {
background: #fff;
border: 1px solid #eee;
}

.action_href {
	opacity: .4;
}

.action_href:hover {
	opacity: 1;
}

.load_widgets {
text-align: center;
}

#widgets_bottom_right {
	position:fixed; 
}

a, a:link, a:hover {
	color: #000;
}

.newsfeed_item_highlight {
		background-color: #eee;		
}

.message_completed {
		background: #dfd;
		padding: 2px 2px 0px 2px;
		border: 1px solid #9f9;		
}

</style>

{% endblock %}

{% block javascript %}
  
<script language="javascript">

function show_note_box () {
	document.getElementById('note_box').style.display='block';
	
}

function reply_parse (id) {
	show_note_box();
	document.getElementById('reply_id').value=id;
	document.getElementById('ref_contact_id').value='';
	document.getElementById('reply_to_all').value='false';

	document.getElementById('parse').focus(); 
}

function change_page(widget_id, page_number) {
	document.getElementById('page_number').value=page_number;
	document.getElementById('page_widget_id').value=widget_id;
	document.forms.change_page_form.submit();
}

function request_file_perms(slug, name, has_perms) {
	// For now, windowsmob only supports has_perms = 1
	if (has_perms) {
		send_file_request(slug);
	}
}

function send_file_request(slug) {
	document.getElementById('request_file_perms_slug').value=slug;
	document.forms.request_file_perms_form.submit();
}

function search () {
    document.getElementById('widget_ids').value='all';
    document.forms.search_form.submit();
}

function search_query(query_text, query_type) {
	// Called to programmatically search (for the search hyperlinks)
    document.getElementById('widget_search_query').value=query_text;
    if (query_type) {
   		document.getElementById('widget_search_type').value=query_type;
    } else {
        document.getElementById('widget_search_type').value='{{constants.SEARCH_TYPE_TEXT}}';
    }
   	search();
}

function search_text_updated () {
	// Called when someone inputs text
    document.getElementById('widget_search_query').value=document.getElementById('widget_search').value;
    document.getElementById('widget_search_type').value='{{constants.SEARCH_TYPE_TEXT}}';
}

function clear_search () {
	document.getElementById('widget_search').value='';
	document.getElementById('widget_search_query').value='';
	document.getElementById('widget_search_type').value='';
	document.forms.search_form.submit();
}

</script>



{% endblock javascript %}

{% block content %}

<div class='heading_control' style='background: #eee; border:1px solid #ccc; color: #000; text-align:right; padding: 2px;'>
	
	<a href='javascript:window.location="/";'>
		<img border='0' align='left' src='/static/tango/actions/view-refresh.png'/>
	</a>
	
	
	<span style="cursor: pointer; margin-left: 10px;" onclick=""><a href="/logout?to=%2Flogin%2F%3Fagent%3D{{agent}}">{% trans 'Logout' %}</a></span>
	
</div>

<div style='clear:both; height: 5px;'></div>

<div id='tooltip_container' style='display:none;'>
      	<div id='' class='rounded_upper rounded_lower' style='position: absolute; color: #000;  padding: 5px; font-size: .9em; font-weight: bold; left: 0px; top: -36px; background: #fff; border: 1px solid #ccc; width: auto; height: 15px;'>
      		<div id='tooltip_msg' style='height: 15px;'></div>
      		<div style='position:relative;'>
      			<div style='position: absolute; top:5px; background: url(/static/images/arrow_down.gif) no-repeat top center; width: 100%; height: 15px;'>
      			
      			</div>
      		</div>

      	</div>
</div> 

<div style='margin-bottom: 10px;' id='note_box'>
     <form method='POST' action='/ajax/parse/'>
     <input type='hidden' name='ref_bucket_slug' id='ref_bucket_slug' value=''/>
     <input type='hidden' name='ref_contact_id' id='ref_contact_id' value=''/>
     <input type='hidden' name='reply_id' id='reply_id' value=''/>
     <input type='hidden' name='reply_to_all' id='reply_to_all' value=''/>
     <textarea name="str" class='quick_parse' id="parse" rows="1" onclick="this.setAttribute('rows','2'); this.style.height='35px'; this.style.color='#000'; this.value=''; document.getElementById('parse_submit').style.display='block'; return false;" onfocus="this.setAttribute('rows','2'); this.style.height='35px'; this.style.color='#000'; this.value=''; document.getElementById('parse_submit').style.display='block'; return false;" style="font-size: .9em; padding: 2px; width: 100%; color: #666; height: 20px; ">{% trans 'Enter text here...' %}</textarea>
     <input style='position:relative; display:none;' type="submit" name="parse_submit" id="parse_submit" value="{% trans 'Update!'%}" onClick=""/>
	</form>
</div>

<form name='change_page_form' method='GET' style='display:none;' action='/ajax/get_widgets/'>
	<input type='hidden' id='page_number' name='arg1' value='1' />      		
	<input type='hidden' id='page_widget_id' name='widget_ids' value='' />
	<input type='hidden' id='page_cmd' name='cmd' value='page' />
</form>

<form name='request_file_perms_form' method='GET' style='display:none;' action='/ajax/request_file_perms_windowmob/'>
	<input type='hidden' id='request_file_perms_slug' name='slug' value='' />      		
</form>

<form name='search_form' method='GET' style='display:none;' action='/ajax/get_widgets/'>
	<input type='hidden' id='widget_ids' name='widget_ids' value='all' />
	<input type='hidden' id='cmd' name='cmd' value='search' />
	<input type='hidden' id='widget_search_query' name='arg1' value='{{search.get_search_query_as_string}}' />
	<input type='hidden' id='widget_search_type' name='arg2' value='{{search.search_type}}' />
</form>

{% endblock %}

{% block widgets %}
	<div id='widgets' style='width:100%; overflow: hidden;'>
		{% widget contacts %}
		{% widget comingup %}
        {% widget conversations %}
	</div>
{% endblock widgets %}

{% block footer %}

{% endblock %}

