{% extends "blog/base_blog.html" %}
{% load i18n %}
{% load account_tags %}

{% block title %}Follow our blog{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}
<h1><a href='/blog'>Blog</a></h1>
{% endblock %}

{% block style %}
<style type="text/css"> 
#twitter_widget {
	float: right; 
}

div.feature {
	background:#EEE;
	border:1px solid #CCCCCC;
	margin-bottom:15px;
	padding:10px;
	
}

#main_post_content {
}

</style>

{% endblock %}

{% block content %}

	
	   {% comment %}
		<!--[if IE]>
		<style type="text/css"> 
		
		#twitter_widget {
			float:left; 
			width: 19%;
		}
		
		#main_post_content {
			float: left; 
			width: 77%;
			
		}
		
		</style>
		<![endif]-->
	   
		<div id='twitter_widget'>
			    <div style='padding: 20px 20px 15px 10px; font-size: .9em;'>
			    	<div id="twtr-search-widget" style='float:right;'></div>
			    </div>
				<script src="http://widgets.twimg.com/j/1/widget.js"></script>
				<link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet">
				<script>
				new TWTR.Widget({
				  search: '{{noted_tu.screen_name}}',
				  id: 'twtr-search-widget',
				  loop: true,
				  title: 'Follow <a href="http://twitter.com/{{noted_tu.screen_name}}">@{{noted_tu.screen_name}}</a> on Twitter',
				  subject: 'Calenvy for the common CAL',
				  width: 180,
				  height: 250,
				  theme: {
				    shell: {
				      background: '#eee',
				      color: '#3082af'
				    },
				    tweets: {
				      background: '#ffffff',
				      color: '#444444',
				      links: '#1985b5'
				    }
				  }
				}).render().start();
				</script>
		    
		</div>
		{% endcomment %}
	

	<div id='main_post_content' style=''>
		<div class="post_list">
		  {% for post in object_list %}
		  <div style='margin-bottom: 30px; '>
		  	
		    <h1 style='background: #eee; padding: 10px;' class="title"><a href="{{ post.get_absolute_url }}">{% render post.title %}</a></h1>
		    <span style='float:right; background: #eee; color: #666; padding: 5px;' class='rounded_bottom_left'>{{ post.publish|date:"F d, Y" }} <a href='{{ post.get_absolute_url }}'><strong>Read more</strong></a></span>
		    <div class="body" style='padding: 10px; '>
		    	{% if not post.tease and post.body %}
		    		{% render post.body %}
		    	{% else %}
		    		{% render post.tease %} <!-- truncatewords_html:200 -->
		    		<br/><br/>
		    	    
		    	{% endif %}
		    </div>
		    
		  </div>
		  {% endfor %}
		</div>
		
		{% if is_paginated %}
			<p class="pagination block">
			  {% if has_next %}
			  <a class="older" href="?page={{ next }}">Older</a>
			  {% endif %}
			  {% if has_next and has_previous %} | {% endif %}
			  {% if has_previous %}
			  <a class="newer" href="?page={{ previous }}">Newer</a>
			  {% endif %}
			</p>
		{% endif %}
		
	</div>
	
	<div style='clear:both; height: 10px;'></div>
	
	
{% endblock %}