{% extends "blog/base_blog.html" %}
{% load i18n %}
{% load account_tags %}


{% block title %}{% render object.title %}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content_title %}

    <p class="other_posts" style='text-align:right;'>
    
    
    
    {% if object.get_previous_by_publish %}
    <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}">&laquo; {% render object.get_previous_post %}</a>
    {% endif %}
    {% if object.get_next_by_publish %}
    | <a class="next" href="{{ object.get_next_post.get_absolute_url }}">{% render object.get_next_post %} &raquo;</a> 
    {% endif %}
    
    &nbsp;&nbsp;
    
    <a href='/blog/'><strong>{% trans 'Blog home' %}</strong></a>
    
    </p>
  
{% endblock %}


{% block content %}
<div class='block'>
{% load blog markup comments tagging_tags %}
	  
	  <span style='float:right;'>{{ object.publish|date:"F j, Y" }}</span>
	  
	  <h1>{% render object.title %}</h1>
	  
	  <div class="body">
	  	{% render object.body %}
	  </div>
	  
	  {% tags_for_object object as tag_list %}
	  
	  {% if tag_list %}
	  <p style='border-top: 1px solid #ccc; margin-top: 10px;' class="inline_tag_list"><strong>{% trans 'Related tags' %}:</strong>
	    {% for tag in tag_list %}
	    {{ tag }}{% if not forloop.last %}, {% endif %}
	    {% endfor %}
	  </p>
	  {% endif %}
	  
</div>
  
{% endblock %}