{% load i18n %}
{% load social_tags %}
{% spaceless %}
{% comment %} This is the row of icons returned by the social person finder {% endcomment %}

{% if memberships %}
	<div id='contact_social_sites' class='social_sites me_event'>
		<a href='#' onclick='Contacts.remove_social_data({{contact_detail.id}}, "memberships", "#contact_social_sites"); return false;'><img title="{% trans 'Delete social websites' %}" class='action' src='{% ifequal agent 'firefox' %}http{% if has_ssl %}s{% endif %}://{{site.domain}}{% endifequal %}/static/tango/actions/process-stop.png' border='0'/></a>
		<div style='width: 90%; overflow: hidden;'>
			{% for m in memberships %}
				<a style='margin-right: 5px;' target='_blank' href='{{m.profile_url}}' title='{{m|membership_title}}'>
			  		<img border='0' width='16' height='16' src='{% ifequal agent 'firefox' %}http{% if has_ssl %}s{% endif %}://{{site.domain}}{% endifequal %}/static/images/social_logos/{{m|membership_icon}}'/>
				</a>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if experience %}
	<div id='contact_social_experience' class='social_sites me_event'>
		<a href='#' onclick='Contacts.remove_social_data({{contact_detail.id}}, "experience", "#contact_social_experience"); return false;'><img title="{% trans 'Delete experience info' %}" class='action' src='{% ifequal agent 'firefox' %}http{% if has_ssl %}s{% endif %}://{{site.domain}}{% endifequal %}/static/tango/actions/process-stop.png' border='0'/></a>
		<div style='width: 90%; overflow:hidden;'>
			{% for e in experience %}
				{% if e.title or e.organization %}{{e.title|default:""}}{% if e.title and e.organization %}, {% endif %}{{e.organization|default:""}}<br/>{% endif %}
				{% if e.period %}<i>{{e.period}}</i><br/>{% endif %}
				{% if not forloop.last %}<br/>{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}

{% if education %}
	<div id='contact_social_education' class='social_sites me_event'>
		<a href='#' onclick='Contacts.remove_social_data({{contact_detail.id}}, "education", "#contact_social_education"); return false;'><img title="{% trans 'Delete education info' %}" class='action' src='{% ifequal agent 'firefox' %}http{% if has_ssl %}s{% endif %}://{{site.domain}}{% endifequal %}/static/tango/actions/process-stop.png' border='0'/></a>
		<div style='width: 90%; overflow:hidden;'>
			{% for e in education %}
				{% if e.title or e.organization %}{{e.title|default:""}}{% if e.title and e.organization %}, {% endif %}{{e.organization|default:""}}<br/>{% endif %}
				{% if e.period %}<i>{{e.period}}</i><br/>{% endif %}
				{% if not forloop.last %}<br/>{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}

{% endspaceless %}

