{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<div class='box' style='font-size: .9em; overflow: hidden; {% if not compact %}display:none;{% else %}max-height: 60px; width: 200px; opacity: .8;{% endif %}'>

	{% if messages %}
	<div style='float:right'>
	    <a href='#' onclick="Page.toggle_size({{widget_id}}); return false;">
	    	<img src='/static/tango/actions/list-remove.png' border='0'/>
	    </a>
	</div>

    {% for m in messages %}
    	<div style='padding: 2px; margin: 2px; background: {% if forloop.first %}#AEC7E3{% else %}#eee{% endif %}; border: 1px solid #ccc; '>
    		{{m}}
    	</div>
    {% endfor %}
    
    {% endif %}
</div>